<h1>Editing Balance</h1>

<%= render 'form', balance: @balance %>

<%= link_to 'Show', @balance, :class =>"btn btn-info add-new" %> |
<%= link_to 'Back', balances_path, :class =>"btn btn-info add-new" %>
