<p>
  <strong>Balance:</strong>
  <%= @balance.balance %>
</p>

<p>
  <strong>User:</strong>
  <%= @balance.user.username %>
</p>

<%= link_to 'Edit', edit_balance_path(@balance) %> |
<%= link_to 'Back', balances_path %>
