<p>
  <strong>Amount spent:</strong>
  $<%= @balance.balance %>
</p>

<p>
  <strong>User:</strong>
  <%= @balance.user.username %>
</p>

<%= link_to 'Back', balances_path, :class =>"btn btn-info add-new" %>
