<h1><%= session[:new_crypto] %> to portfolio</h1>
<h4>Insert the symbol of the cryptocurrency the amount you own and the price you bought it at!</h4>

<%= render 'form', crypto: @crypto %>

<%= link_to 'Back', cryptos_path, :class =>"btn btn-info add-new" %>
